NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_ZXBpYy1idXJyby01MS5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY="sk_test_MlgG2eVdonOF17WIaFEy6X4BFDeHYUU2NvdW9Tz0WL"
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/

UPLOADTHING_TOKEN= "eyJhcGlLZXkiOiJza19saXZlXzFhNjliM2RmMWE2NTZjMzcyMjUzOThjZDkyY2IyMmUwM2ViNTNjMTAwZWU4ODYyMWE3NmI1MjdjNjIwMTczMjciLCJhcHBJZCI6Inc3ZzMzYXluYmwiLCJyZWdpb25zIjpbInNlYTEiXX0="
UPLOADTHING_APP_ID='w7g33aynbl'

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://neondb_owner:npg_MNj0cPqd4CxE@ep-young-cherry-abr1sncz-pooler.eu-west-2.aws.neon.tech/neondb?sslmode=require"

NEXT_PUBLIC_BASE_URL=https://discord-appremake.netlify.app

# livekit api keys and public url
LIVEKIT_API_KEY=APITLWX4bbdDsxt
LIVEKIT_API_SECRET=Y6qd9wgRZUuUmmNGyfnGbXf8gCBrYreNn1ltIB4c8xEB
NEXT_PUBLIC_LIVEKIT_URL=wss://dcclone-1jgbhfou.livekit.cloud